# Model files
*.keras
*.h5
*.model
*.pkl
*.joblib
*.ckpt
*.bin
*.pt
*.pth
*.weights
*.pb

# Large data files
*.csv
*.xlsx
*.db
*.sqlite
/datasets/

# Environment and cache
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints

# IDE files
.idea/
.vscode/

# Модели нейросетей
*.hdf5
best_model*

# Игнорировать все модели Keras и TensorFlow
*.h5
*.hdf5
*.keras
saved_model/
checkpoints/
*.pb
*.ckpt
*.index
*.data-*
# Игнорировать модели в любых подпапках
**/final_model.h5
**/best_model.h5
**/best_model_*.keras
**/model_*.h5

# Игнорировать большие датасеты и архивы
*.zip
*.tar
*.tar.gz
data/kaggle/

# PyInstaller build folders
build/
dist/
